<header>
    <div class="logo">
        <img src="../../../assets/sitcom.png" alt="sitandcom logo">
    </div>
    <div class="title">Sit&Com</div>
    <nav>
        <a routerLink="home" *ngIf="component!=='home'">Inicio</a>
        <a routerLink="shows">Series</a>
        <a routerLink="movies">Películas</a>
        <a routerLink="myroom">Mi sala</a>
    </nav>
    <div class="search">
        <input placeholder="Buscar en Sit&Com" required="" class="input" name="text" type="text">
        <div class="icon">
            <svg viewBox="0 0 512 512" class="ionicon" xmlns="http://www.w3.org/2000/svg">
                <title>Search</title>
                <path stroke-width="32" stroke-miterlimit="10" stroke="currentColor" fill="none" d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z"></path>
                <path d="M338.29 338.29L448 448" stroke-width="32" stroke-miterlimit="10" stroke-linecap="round" stroke="currentColor" fill="none"></path>
            </svg>
        </div>
    </div>
    <div class="sesion">
        <div class="register">
            <button>Regístrate</button>
        </div>
        <div class="login">
            <button>Inicia sesión</button>
        </div>
    </div>
</header>
