<header>
    <div class="title">
        <div class="logo">
            <img src="../../../assets/sitcom.png" alt="sitandcom logo">
        </div>
        <h1 class="name">Sit&Com</h1>
    </div>
    <nav>
        <a routerLink="home" *ngIf="component!=='home'">Inicio</a>
        <div class="series">
            <a routerLink="shows">Series</a>
            <ul class="genres">
                <li><a routerLink="">Acción y Aventura</a></li>
                <li><a routerLink="">Animación</a></li>
                <li><a routerLink="">Ciencia ficción y Fantasía</a></li>
                <li><a routerLink="">Comedia</a></li>
                <li><a routerLink="">Crimen</a></li>
                <li><a routerLink="">Documental</a></li>
                <li><a routerLink="">Drama</a></li>
                <li><a routerLink="">Familia</a></li>
                <li><a routerLink="">Guerra y Política</a></li>
                <li><a routerLink="">Infantil</a></li>
                <li><a routerLink="">Misterio</a></li>
                <li><a routerLink="">Reality</a></li>
                <li><a routerLink="">Soap</a></li>
                <li><a routerLink="">Talk</a></li>
                <li><a routerLink="">Western</a></li>
            </ul>
        </div>
        <div class="movies">
            <a routerLink="movies">Películas</a>
            <ul class="genres">
                <li><a routerLink="">Acción</a></li>
                <li><a routerLink="">Animación</a></li>
                <li><a routerLink="">Aventura</a></li>
                <li><a routerLink="">Bélica</a></li>
                <li><a routerLink="">Ciencia ficción</a></li>
                <li><a routerLink="">Comedia</a></li>
                <li><a routerLink="">Crimen</a></li>
                <li><a routerLink="">Documental</a></li>
                <li><a routerLink="">Drama</a></li>
                <li><a routerLink="">Familia</a></li>
                <li><a routerLink="">Fantasía</a></li>
                <li><a routerLink="">Historia</a></li>
                <li><a routerLink="">Misterio</a></li>
                <li><a routerLink="">Música</a></li>
                <li><a routerLink="">Romance</a></li>
                <li><a routerLink="">Suspense</a></li>
                <li><a routerLink="">Terror</a></li>
                <li><a routerLink="">Western</a></li>
            </ul>
        </div>        
        
        <a routerLink="myroom">Mi sala</a>
    </nav>
    <div class="search">
        <input placeholder="Buscar en Sit&Com" required="" class="input" name="text" type="text">
        <div class="icon">
            <svg viewBox="0 0 512 512" class="ionicon" xmlns="http://www.w3.org/2000/svg">
                <title>Search</title>
                <path stroke-width="32" stroke-miterlimit="10" stroke="currentColor" fill="none" d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z"></path>
                <path d="M338.29 338.29L448 448" stroke-width="32" stroke-miterlimit="10" stroke-linecap="round" stroke="currentColor" fill="none"></path>
            </svg>
        </div>
    </div>
    <div class="session">
        <div class="register">
            <button>Regístrate</button>
        </div>
        <div class="login">
            <button>Inicia sesión</button>
        </div>
    </div>
</header>
